.n2,
html[dir="rtl"] .n2,
.n2 td,
.n2 th,
.n2 .ui-widget{
    font-family: "Montserrat", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    font-size: 12px;
}

.n2 a:ACTIVE,
.n2 a:VISITED,
.n2 a:FOCUS,
.n2 a:LINK {
    text-decoration: none;
}

.n2-h1 {
    font-size: 26px;
}

.n2-h2 {
    font-size: 20px;
}

.n2-h3 {
    font-size: 14px;
}

.n2-h4 {
    font-size: 12px;
}

.n2-h5,
select.n2-h5,
input[type].n2-h5,
textarea.n2-h5 {
    font-size: 11px;
}

.n2-h6 {
    font-size: 10px;
}

.n2-b {
    font-weight: bold;
}

.n2-uc {
    text-transform: uppercase;
}

.n2-ucf {
    text-transform: capitalize;
}

.n2-i + span,
.n2-i + span + span,
.n2-i + span + span + span {
    vertical-align: middle;
}

.n2-i-grey-opacity,
.n2-i-grey-opacity:HOVER {
    color: #b2bfc9;
}

.n2-active > .n2-i-star {
    color: #c68c1e;
}

.n2-active > .n2-i-unpublished:before {
    content: "\e60c";
}

.n2-active > .n2-i-unpublished,
.n2-active > .n2-i-unpublished:HOVER {
    color: #6fbc49;
}

.n2-button .n2-i,
.n2-i.n2-it {
    line-height: inherit;
    vertical-align: top;
}

.n2-description,
.n2-description p {
    font-size: 12px;
    color: #6b7989;
}

.n2-description ol {
    font-size: 11px;
}

div.n2-description ul {
    padding-left: 20px;
    font-size: 12px;
    list-style-type: disc;
}