@font-face {
    font-family: 'Nextend';
    src:url('../fonts/Nextend.eot?xybskt');
    src:url('../fonts/Nextend.eot?xybskt#iefix') format('embedded-opentype'),
    url('../fonts/Nextend.ttf?xybskt') format('truetype'),
    url('../fonts/Nextend.woff?xybskt') format('woff'),
    url('../fonts/Nextend.svg?xybskt#Nextend') format('svg');
    font-weight: normal;
    font-style: normal;
}

.n2-i {
    font-family: 'Nextend';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.n2-i-sortdate2:before {
    content: "\e900";
}
.n2-i-sortdate1:before {
    content: "\e901";
}
.n2-i-sortalphabetic2:before {
    content: "\e902";
}
.n2-i-sortalphabetic1:before {
    content: "\e903";
}
.n2-i-hide:before {
    content: "\e60e";
}
.n2-i-adaptive:before {
    content: "\e64e";
}
.n2-i-reset:before {
    content: "\e64f";
}
.n2-i-fontmodifier:before {
    content: "\e650";
}
.n2-i-sun:before {
    content: "\e651";
}
.n2-i-layerunlink:before {
    content: "\e64b";
}
.n2-i-layerlink:before {
    content: "\e64d";
}
.n2-i-moon:before {
    content: "\e64c";
}
.n2-i-horizontal-right:before {
    content: "\e645";
}
.n2-i-horizontal-center:before {
    content: "\e646";
}
.n2-i-horizontal-left:before {
    content: "\e647";
}
.n2-i-vertical-bottom:before {
    content: "\e648";
}
.n2-i-vertical-middle:before {
    content: "\e649";
}
.n2-i-vertical-top:before {
    content: "\e64a";
}
.n2-i-bulb:before {
    content: "\e643";
}
.n2-i-unlock:before {
    content: "\e63f";
}
.n2-i-anim-out:before {
    content: "\e640";
}
.n2-i-anim-in:before {
    content: "\e641";
}
.n2-i-anim-loop:before {
    content: "\e642";
}
.n2-i-more:before {
    content: "\e639";
}
.n2-i-buttonarrow:before {
    content: "\e638";
}
.n2-i-list:before {
    content: "\e635";
}
.n2-i-link:before {
    content: "\e636";
}
.n2-i-play:before {
    content: "\e605";
}
.n2-i-pause:before {
    content: "\e606";
}
.n2-i-stop:before {
    content: "\e607";
}
.n2-i-snapcenter:before {
    content: "\e62e";
}
.n2-i-snapgrid:before {
    content: "\e62f";
}
.n2-i-snaplayer:before {
    content: "\e630";
}
.n2-i-snapnone:before {
    content: "\e631";
}
.n2-i-plus:before {
    content: "\e632";
}
.n2-i-minus:before {
    content: "\e633";
}
.n2-i-bold:before {
    content: "\e601";
}
.n2-i-unpublished:before {
    content: "\e62d";
}
.n2-i-published:before {
    content: "\e60c";
}
.n2-i-underline:before {
    content: "\e602";
}
.n2-i-italic:before {
    content: "\e615";
}
.n2-i-empty:before {
    content: "\e62c";
}
.n2-i-tick:before {
    content: "\e600";
}
.n2-i-star:before {
    content: "\e603";
}
.n2-i-right:before {
    content: "\e604";
}
.n2-i-order:before {
    content: "\e608";
}
.n2-i-lock:before {
    content: "\e609";
}
.n2-i-left:before {
    content: "\e60a";
}
.n2-i-justify:before {
    content: "\e60b";
}
.n2-i-info:before {
    content: "\e60d";
}
.n2-i-eye:before {
    content: "\e60f";
}
.n2-i-edit:before {
    content: "\e610";
}
.n2-i-duplicate:before {
    content: "\e611";
}
.n2-i-delete:before {
    content: "\e612";
}
.n2-i-close:before {
    content: "\e613";
}
.n2-i-center:before {
    content: "\e614";
}
.n2-i-help:before {
    content: "\e644";
}
.n2-i-v-tablet-landscape:before {
    content: "\e63a";
}
.n2-i-v-mobile-landscape:before {
    content: "\e63b";
}
.n2-i-v-desktop-landscape:before {
    content: "\e63c";
}
.n2-i-bulk:before {
    content: "\e634";
}
.n2-i-notification:before {
    content: "\e637";
}
.n2-i-v-tablet:before {
    content: "\e616";
}
.n2-i-v-mobile:before {
    content: "\e617";
}
.n2-i-v-desktop:before {
    content: "\e618";
}
.n2-i-v-all:before {
    content: "\e619";
}
.n2-i-smart:before {
    content: "\e61a";
}
.n2-i-slider:before {
    content: "\e61b";
}
.n2-i-s-open:before {
    content: "\e61c";
}
.n2-i-s-close:before {
    content: "\e61d";
}
.n2-i-next:before {
    content: "\e61e";
}
.n2-i-n-success:before {
    content: "\e61f";
}
.n2-i-n-notice:before {
    content: "\e620";
}
.n2-i-n-error:before {
    content: "\e621";
}
.n2-i-n-close:before {
    content: "\e622";
}
.n2-i-drag:before {
    content: "\e623";
}
.n2-i-a-text:before {
    content: "\e624";
}
.n2-i-a-refresh:before {
    content: "\e625";
}
.n2-i-a-html:before {
    content: "\e626";
}
.n2-i-a-export:before {
    content: "\e627";
}
.n2-i-a-duplicate:before {
    content: "\e628";
}
.n2-i-a-deletes:before {
    content: "\e629";
}
.n2-i-a-delete:before {
    content: "\e62a";
}
.n2-i-a-back:before {
    content: "\e62b";
}
.n2-i-up:before {
    content: "\e63e";
}
.n2-i-folder:before {
    content: "\e63d";
}

