.nextend-tab-tabbed {
    width: 100%;
    overflow: hidden;
}

.nextend-tab-tabbed .nextend-tab-tabbed-panes {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.nextend-tab-tabbed .nextend-tab-tabbed-pane {
    float: left;
}